<div class="footer">
  <div class="footer__head">
    <div class="footer__head-logo">
      <img src="../assets/icon/Logo.svg" alt="logo">
    </div>
    <div class="footer__head-text">
      Back To Top
    </div>
  </div>
  <div class="footer__nav">
    <div class="footer__nav-items">
      <div class="footer__nav-items--title">
        WELLS SINKWARE CORP.
      </div>
      <div class="footer__nav-items--intro">
        A leader in the era of fashionalbe kitchen and bathroom sinks and accessories, Wells Sinkware has been serving
        a growing
        number of satisfied North American customers from its Chicago base since 2005.
      </div>

      <div class="footer__nav-items--reserve">
        &copy; Wells Sinkware Corp. 2018
      </div>
    </div>
    <div class="footer__nav-items">
      <div class="footer__nav-items--title">
        PRODUCTS
      </div>
      <div class="footer__nav-items--detail"><a routerLink = "/maintaining">Kitchen</a></div>
      <div class="footer__nav-items--detail"><a routerLink = "/maintaining">Bath</a></div>
      <div class="footer__nav-items--detail"><a routerLink = "/maintaining">Faucet</a></div>
      <div class="footer__nav-items--detail"><a routerLink = "/maintaining">Accessories</a></div>
    </div>
    <div class="footer__nav-items">
      <div class="footer__nav-items--title">
        COMPANY
      </div>
      <div class="footer__nav-items--detail"><a routerLink = "/maintaining">Accessories</a></div>
      <div class="footer__nav-items--detail"><a routerLink = "/maintaining">Terms of Use</a></div>
      <div class="footer__nav-items--detail"><a routerLink = "/maintaining">Private Policy</a></div>
      <div class="footer__nav-items--detail"><a routerLink = "/maintaining">Sitemap</a></div>
      <div class="footer__nav-items--detail"><a routerLink = "/maintaining">Press</a></div>
    </div>
    <div class="footer__nav-items">
      <div class="footer__nav-items--title">
        SUPPORT
      </div>
      <div class="footer__nav-items--detail"><a routerLink = "/maintaining">Warranty</a></div>
      <div class="footer__nav-items--detail"><a routerLink = "/maintaining">Care &amp; Cleaning</a></div>
      <div class="footer__nav-items--detail"><a routerLink = "/maintaining">Installation Guide</a></div>
      <div class="footer__nav-items--detail"><a routerLink = "/maintaining">DXF Files</a></div>
      <div class="footer__nav-items--detail"><a routerLink = "/maintaining">Hole Punch Request</a></div>
      <div class="footer__nav-items--detail"><a routerLink = "/maintaining">Mounting Style Options</a>
      </div>
      <div class="footer__nav-items--detail"><a routerLink = "/maintaining">Unmounting Options</a>
      </div>
    </div>
    <div class="footer__nav-items">
      <div class="footer__nav-items--title">
        CONTACT
      </div>
      <div class="footer__nav-items--detail">Tel. (888)626-006</div>
      <div class="footer__nav-items--detail">Fax (312)850-3422</div>
      <div class="footer__nav-items--detail">
        2600 W 35th St #125a
      </div>
      <div class="footer__nav-items--detail">Chicago, IL 60632</div>
    </div>
    <div class="footer__nav-items">
      <div class="footer__nav-items--title">
        SOCIAL
      </div>
      <div class="footer__nav-items--detail"><a routerLink = "/maintaining">Twitter</a></div>
      <div class="footer__nav-items--detail"><a routerLink = "/maintaining">Instagram</a></div>
      <div class="footer__nav-items--detail"><a routerLink = "/maintaining">Facebook</a></div>
      <div class="footer__nav-items--detail"><a routerLink = "/maintaining">Printerest</a></div>
      <div class="footer__nav-items--detail"><a routerLink = "/maintaining">Google+</a></div>
    </div>
  </div>
  <div class="footer__slogen">
    IT'S A WATER THING ...
  </div>
</div>