<div class="main">
  <div class="main__picture main__picture-1" style="background-image: url(../../assets/img/Left.png)">
    <!-- <img src="/src/assets/img/wells.jpg" alt="img1"> -->
  </div>
  <div class="main__picture main__picture-2" style="background-image: url(../../assets/img/Right.png)">
    <!-- <img src="/src/assets/img/wells.jpg" alt="img1"> -->
  </div>
  <div class="main__description">
    <p class="main__description-header">Welcome to Wells ...</p>
    <p class="main__description-pragraph">A leader in the era of fashionalbe kitchen and bathroom sinks and
      accessories, Wells Sinkware has been serving a growing
      number of satisfied North American customers from its Chicago base since 2005.</p>
    <p>...</p>
    <p class="main__description-pragraph">We supply all your needs for kitchen and bathroom sinks, faucets and
      accessories with Quality, Service, Value and love!</p>
    <a routerLink ="/maintaining">Read More</a>
  </div>
</div>

<!-- style="background-image: url(../../assets/img/Left.png)" -->
<!-- style="background-image: url(../../assets/img/Right.png)" -->