<div class="maintain">
  <div class="maintain__info">
    <div class="maintain__info-logo">
      <img src="../../assets/icon/Logo.svg" alt="Logo">
    </div>
    <div class="maintain__info-detail">
      <div class="detail">
        <p class="detail__title">
            WELLS SINKWARE CORP.
        </p>
        <p class="detail__reserve">
            &copy; Wells Sinkware Corp. 2018
        </p>
      </div>

      <div class="info">
        <p class="info__title">
          Contact Info
        </p>
        <ul class="info__detail">
          <li>Tel.(312)850-3466</li>
          <li>Fax (312)850-3422</li>
          <li>Email: <a href="mailto:wellssinkware@gmail.com">wellssinkware@gmail.com</a></li>
          <li>2600 W 35th St #125a Chicago, IL 60632</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="maintain__popup">
    <div class="maintain__popup-warning">
      Oops~ You found it! Our engineer is still working on this page. If you need information please do not hesitate to contact us !
    </div>

    <a class="maintain__popup-return" routerLink = "/">Return to Home Page</a>
  </div>
</div>
