<div class="navigation">
  <div class="navigation__items"><a routerLink = "/maintaining">Kitchen</a></div>
  <div class="navigation__items"><a routerLink = "/maintaining">Bath</a></div>
  <div class="navigation__items"><a routerLink = "/maintaining">Faucet</a></div>
  <div class="navigation__items"><a routerLink = "/maintaining">Accessories</a></div>
  <div class="navigation__items logo">
    <div class="logo__top">
      <img class="logo__top-logo" src="../assets/icon/Logo.svg" alt="logo">
    </div>
    <div class="logo__buttom">WELLS</div>
  </div>
</div>