/*font*/
// $font-primary: 'Gamja Flower', 'cursive';
$font-primary: 'sans-serif', 'monospace';
$font-head: 'Open Sans', sans-serif;
/*color*/
$color-primary: rgba(240,240,240,1);
$color-secondary: rgba(235,235,235,1);
$color-head: rgba(11,40,96,1);