.logo {
    margin-top: -3rem;
    z-index: 100;
    
    & > * {
        background-color: white;
        border: 1px solid rgba(205,205,205,1);
    }

    &__top {
        width: 10rem;
        height: 7rem;
        padding: 1.5rem 0;
        text-align: center;
        margin-bottom: 0.5rem;

        &-logo {
            width: 5rem;
            height: 5rem;
        }
    }

    &__buttom {
        width: 10rem;
        height: 2.5rem;
        padding: 2px 0;
        text-align: center;
        letter-spacing: 5px;
    }
}