<div class="header">
  <div class="header__items"><a routerLink = "/maintaining">About Wells&reg;</a></div>
  <div class="header__items"><a routerLink = "/maintaining">Partners</a></div>
  <div class="header__items"><a routerLink = "/maintaining">Contact us</a></div>
  <div class="header__items"><a routerLink = "/maintaining">Support</a></div>
  <div class="header__items header__items-iconbox">
    <!-- <svg class="header__items-iconbox--icon">
        <use xlink:href="assets/icon/sprite.svg#icon-magnifying-glass"></use>
      </svg> -->
      <a routerLink = "/maintaining">Search</a>
  </div>
</div>